.products-wrapper{
    width: 100% ;
    max-width: 1800px;
    margin: 15px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

.flex-wrapper{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto;
    width: 100%;
    max-width: 1800px;
}

.title-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-btn{
    display: none;
    width: auto;
    cursor: pointer;
    padding: 3px;
    margin-left: 10px;
    font-weight: 300;
    border: 1px solid #d1d5db; /* gris suave */
    background: white;
    border-radius: 6px;
    font-size: 1rem;
}

.products-title{
    margin: 10px 5px;
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
}

.products-subtitle{
    margin: 2px auto 10px;
    text-align: center;
    font-weight: 200;
    font-size: 0.9rem;
    color: gray;
}


@media (max-width: 550px) {

    .flex-wrapper{
        padding: 8px 5px;
    }

}

@media (max-width: 510px) {

    .toggle-btn{
        display: grid;
        place-items: center;
    }
}