.products-wrapper{
    width: 100% ;
    max-width: 1800px;
    margin: 15px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

.flex-wrapper{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto;
    width: 100%;
    max-width: 1800px;
}

.flex-wrapper>.product-card{
    margin: 10px;
}

.product-card{
    padding: 10px;
    box-shadow: 2px 2px 3px -2px;
    width: 100%;
    max-width: 220px;
    display: flex;
    flex-direction: column;
}

.product-card-brand{
    margin-top: 3px;
    font-weight: 100;
    font-size: 0.9rem;
}

.product-card-description{
    min-height: 36px;
    display: block;
}

.product-card-price{
    margin-top: 3px;
    font-weight: 700;
}

.product-card-desc{
    font-weight: 700;
    font-size: 0.9rem;
}

.product-card-img{
    width: 200px;
    height: 160px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}


.add-product-btn{
    padding: 5px 8px;
    border-radius: 3px;
    background-color: var(--c_primary);
    color: white;
    transition: background-color 200ms ease-in;
    cursor: pointer;
    margin: 8px auto 0px;
    border: var(--c_primary) 1px solid;
}

.add-product-btn:hover{
    background-color: var(--c_secondary);
    transition: background-color 200ms ease-out;
}

.products-title{
    margin: 10px auto;
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
}