.products-wrapper{
    width: 100% ;
    max-width: 1800px;
    margin: 15px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

.flex-wrapper{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto;
    width: 100%;
    max-width: 1800px;
}


.products-title{
    margin: 10px auto 5px;
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
}

.products-subtitle{
    margin: 2px auto 10px;
    text-align: center;
    font-weight: 200;
    font-size: 0.9rem;
    color: gray;
}

