.breadcrumb-container{
  width: 100%;
  margin: 10px auto;
  max-width: 1800px;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumb{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.breadcrumb>span{
  margin-right: 5px;
  font-size: 0.75rem;
}

.breadcrumb-item{
  cursor: pointer;
}