.section-wrapper{
  max-width: 1600px;
  width: 100%;
  margin: 10px auto;
}

.carousel-container{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content:center;
}

.carousel {
  width: 100%; /* Ajustar a tu necesidad */
  max-width: 1600px;
  overflow: hidden;
  /*box-shadow: 2px 2px 3px -2px;*/
  position: relative;
  margin: 0 auto;
  padding: 10px;
}

.carousel-track {
  display: flex;
  width: max-content;
  /*animation: scroll 100s linear infinite;*/
  animation: none;
  will-change: transform;
}

/* Animación continua hacia la izquierda */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

