<section class="section-wrapper">
  <h2 class="section-title">Destacados</h2>
  <div class="carousel-container">
    <div
      class="carousel"
      (touchstart)="onTouchStart($event)"
      (touchmove)="onTouchMove($event)"
      (touchend)="onTouchEnd()"
      (mousedown)="onMouseDown($event)"
      (mousemove)="onMouseMove($event)"
      (mouseup)="onMouseUp()"
      (mouseenter)="pauseCarousel()"
      (mouseleave)="onMouseLeaveHandler($event)"
    >
      <div
        class="carousel-track"
        #carouselTrack
      >
        @for (product of products; track $index ) {
          <app-product-card [product]="product" [categoryId]="product.idCategories[0]" [onCardClick]="onCardClick"></app-product-card>
        }
      </div>
    </div>
  </div>
</section>
