<footer class="app-footer">
    <div class="footer-content">
        <p><i class="fas fa-map-marker-alt"></i>San Nicolás de los Arroyos (2900), Av. Falcón 391</p>
        <p><i class="fas fa-envelope"></i>{{'gizasannicolas@gmail.com'}}</p>
        <p class="highlight-text">
          <i class="fab fa-whatsapp"></i>
          <a class="whatsapp-link" href="https://wa.me/5493364358745" target="_blank">
            +54 9 336 4358745 (Ventas)
          </a>
        </p>
        <p class="highlight-text"><i class="fab fa-instagram"></i><a href="https://www.instagram.com/giza.sn/" target="_blank">giza.sn</a></p>
        <div class="divider"></div>
        <p class="developer-sign">
          Desarrollado por 
          <a href="https://github.com/RamiroPerez07" target="_blank" class="highlight-text">
            <span><i class="fab fa-github" style="margin-right: 4px;"></i>Ramiro Pérez</span>
          </a>
        </p>
    </div>
</footer>