<app-hero-carousel></app-hero-carousel>
<app-card-carousel [products]="products" [title]="'Destacados'"></app-card-carousel>
<div class="btn-container">
  <button class="view-all-products-btn" (click)="redirectTo('products')">Ver Todos</button>
</div>
@if (nutremaxCategories && nutremaxCategories.length) {
  <app-categories-grid [title]="'Línea Nutremax'" [categories]="nutremaxCategories"></app-categories-grid>
}
@if (innovaCategories && innovaCategories.length) {
  <app-categories-grid [title]="'Línea InnovaNaturals'" [categories]="innovaCategories"></app-categories-grid>
}
<app-benefits></app-benefits>