.wrapper{
  width: 100% ;
  max-width: 1800px;
  margin: 15px auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.image-detail{
  margin-top: 15px;
  width: 100%;
  max-width: 350px;
  max-height: 500px;
}

.product-info{
  padding: 20px;
}

.description{
  font-size: 1.1rem;
  font-weight: 800;
  margin-bottom: 8px;
}

.long-description{
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.brand{
  font-size: 0.95rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.price{
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 5px;
}

.add-product-btn{
  padding: 5px 8px;
  border-radius: 3px;
  background-color: var(--c_primary);
  color: white;
  transition: background-color 200ms ease-in;
  cursor: pointer;
  margin: 8px auto 0px;
  border: var(--c_primary) 1px solid;
}

.add-product-btn:hover{
  background-color: var(--c_secondary);
  transition: background-color 200ms ease-out;
}

.flavor{
  font-size: 0.9rem;
  margin-bottom: 12px;
  margin-top: 12px;
}

.content{
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 12px;
}

.content > span {
  font-weight: 800;
}


p.flavor{
  font-weight: 500;
}

p.flavor > span{
  font-weight: 800;
}

.flavor-tag{
  padding: 5px 8px;
  border-radius: 5px;
  border: none;
}

@media (max-width: 770px) {
  .wrapper{
    justify-content: center;
  }
}
