<app-breadcrumb [breadcrumbRoutes]="breadcrumbRoutes" class="breadcrumb"></app-breadcrumb>
<div class="wrapper">
  @if (product) {
    <div class="image-container">
      <img [src]="product.urlImg" [alt]="product.description" class="image-detail">
    </div>
    <div class="product-info">
      <p class="description">{{product.description}}</p>
      <p class="brand">{{product.brand}}</p>
      <p class="price">{{product.price | currency: "ARS"}}</p>
      <button class="add-product-btn" (click)="addProduct(product)">Agegar al carrito</button>
    </div>
  }
</div>