.product-card{
    padding: 10px;
    box-shadow: 2px 2px 3px -2px;
    width: 220px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;
}

.product-card-brand{
    margin-top: 3px;
    font-weight: 100;
    font-size: 0.75rem;
}

.product-card-description{
    line-height: 1.4;
    min-height: calc(1.4em * 2); /* asegura altura mínima para 3 líneas */
    overflow: hidden;
    /*display: block;*/
    font-size: 0.8rem;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;       /* Número de líneas que quieres mostrar */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.product-card-price{
    margin-top: 3px;
    font-weight: 700;
    font-size: 0.85rem;
}

.product-card-desc{
    font-weight: 700;
    font-size: 0.85rem;
}

.product-card-img{
    width: 100%;
    height: 160px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}


.add-product-btn{
    padding: 5px 8px;
    border-radius: 3px;
    background-color: var(--c_primary);
    color: white;
    transition: background-color 200ms ease-in;
    cursor: pointer;
    margin: 8px auto 0px;
    border: var(--c_primary) 1px solid;
    font-size: 0.8rem;
}

.add-product-btn:hover{
    background-color: var(--c_secondary);
    transition: background-color 200ms ease-out;
}

.flavor-tag{
  padding: 5px 8px;
  border-radius: 5px;
  border: none;
  width: auto;
  font-size: 0.8rem;
  display: grid;
  place-items: center;
  align-self: start;
  margin: 5px 0px;
  font-weight: 800;
  position: absolute;
  top: 5px;
  left: 5px;
}

.discount-tag{
  padding: 5px 8px;
  border-radius: 5px;
  border: none;
  width: min-content;
  font-size: 0.7rem;
  display: grid;
  place-items: center;
  background-color: green;
  color: white;
  align-self: start;
  margin: 5px 0px;
  font-weight: 800;
  position: absolute;
  text-align: center;
  top: 5px;
  right: 5px;
}

@media (max-width: 510px){

    .small-card.product-card{
        width: 140px;
        padding: 7px;
    }

    .small-card .product-card-img{
        width: 100%;
        height: 100px;
    }

    .small-card .product-card-description{
        font-size: 0.7rem;
    }


    .small-card .product-card-brand{
        font-size: 0.6rem;
    }

    .small-card .flavor-tag{
        padding: 3px 6px;
        font-size: 0.7rem;
    }

    .small-card .add-product-btn{
        font-size: 0.6rem;
    }
}
