<div class="product-card" [ngClass]="{ 'small-card': smallCard }">
  <img class="product-card-img" [src]="product.urlImg" [alt]="product.description"
    (click)="onCardClick($event, product)" />
  <p class="product-card-description">{{product.description}}</p>
  <p class="product-card-brand">{{product.brand}}</p>
  @if (product.attributes && product.attributes.colour && product.attributes.flavor) {
    <span class="flavor-tag" [style.background-color]="product.attributes.colour" [style.color]="product.attributes.textColor ?? 'inherit'">{{product.attributes.flavor}}</span>
  }
  @if (product.cashDiscount) {
    <span class="discount-tag">-{{product.cashDiscount}}% Efectivo</span>
  }
  <p class="product-card-price">
    @if (product.discount && product.discount > 0) {
      <span class="original-price">{{ product.price | currency:"ARS" }}</span>
      <span class="discounted-price">
        {{ roundTo100(product.price * (1 - (product.discount) / 100)) | currency:"ARS" }}
      </span>
    } @else {
      {{ product.price | currency:"ARS" }}
    }
  </p>
  <button class="add-product-btn" (click)="addProduct(product)">Agregar al pedido</button>
</div>