.wrapper{
  width: 100% ;
  max-width: 1800px;
  margin: 15px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.align-left {
  align-items: start;
  align-content: start;
  padding-left: 30px;
  padding-right: 30px;
}

.container{
  display: flex;
  margin: 10px auto 0px;
  flex-direction: row;
  padding: 10px;
}

.doc-img{
  border-radius: 100%;
  width: 110px;
  height: 110px;
  box-shadow: 0px 0px 5px 1px gray;
  background-image: url("https://res.cloudinary.com/dhnicvwkw/image/upload/v1757891199/Notes_250914_193919_bf1-removebg-preview_or3ent.png");
  background-repeat: no-repeat;
  position: relative;
}

.clara{
  background-image: url("https://res.cloudinary.com/dhnicvwkw/image/upload/v1757891199/Notes_250914_193919_bf1-removebg-preview_or3ent.png");
  background-size: 135%;
  background-position: 50% 17%;
}

.tere{
  background-image: url("https://res.cloudinary.com/dhnicvwkw/image/upload/v1757974381/WhatsApp_Image_2025-09-15_at_14.21.53__1_-removebg-preview_qtmtpg.png");
  background-size: 81%;
  background-position: 66% 63%;
}

.doc-img::after {
  content: "";
  position: absolute;
  bottom: 5px;   /* separación desde abajo */
  right: 5px;    /* separación desde la derecha */
  width: 18px;
  height: 18px;
  background-color: #4caf50; /* verde disponible */
  border: 2px solid white;   /* borde blanco para contraste */
  border-radius: 50%;
}

.title{
    margin: 10px 5px;
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
}

strong{
  font-size: 0.8rem;
}

p{
  font-size: 0.7rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
}

.more-info{
  padding: 8px 16px;
  background-color: var(--c_primary);
  color: white;
  border: 1px solid var(--c_primary);
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 200ms ease;
  font-size: 0.8rem;
  align-self: center;
}

.more-info:hover{
    background-color: var(--c_secondary);
    transition: background-color 200ms ease;
}

.more-info i {
  margin-right: 8px;
}

.doc-info{
  margin: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 1;
}

.doc-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px;
}

.doc-card > strong {
  margin-top: 10px;
  text-align: center;
}
