<div class="wrapper" [ngClass]="{'align-left': alignLeft}">
  <h2 class="title">Asesoramiento profesional</h2>
  <div class="container">
    <div class="doc-card">
      <div class="doc-img clara"></div>
      <strong>Dra. Clara Perez</strong>
    </div>
    <div class="doc-card">
      <div class="doc-img tere"></div>
      <strong>Farm. Teresa Recio</strong>
    </div>

      
    
  </div>
  <a [href]="hrefUrl" class="more-info" aria-label="Recibir asesoramiento" rel="noopener noreferrer" target="_blank">
      <i class="fab fa-whatsapp"></i>Más info
  </a>
</div>