<div class="wrapper" [ngClass]="{'align-left': alignLeft}">
  <h2 class="title">Asesoramiento profesional</h2>
  <div class="container">
    <div class="doc-img"></div>
    <div class="doc-info">
      <strong>Dra. Clara Perez</strong>
      <p >¡Estoy disponible para atender tus consultas!</p>
      <a [href]="hrefUrl" class="more-info" aria-label="Recibir asesoramiento" rel="noopener noreferrer" target="_blank">
          <i class="fab fa-whatsapp"></i>Más info
      </a>
    </div>
  </div>
</div>