<div class="order-card">
    <div class="status-tag">Pendiente</div>
    <p><strong>ID: </strong><span>{{order.id}}</span></p>
    <p><strong>Punto de venta: </strong><span>{{order.pos}}</span></p>
    <p><strong>Comprador: </strong><span>{{order.comprador}}</span></p>
    <p><strong>Dirección: </strong><span>{{order.direccion}}</span></p>
    <p><strong>Localidad: </strong><span>{{order.localidad}}</span></p>
    <p><strong>Forma de Pago: </strong><span>{{order.formaPago}}</span></p>
    <p><strong>Monto: </strong><span>{{order.monto | currency:"ARS" }}</span></p>
</div>
