<div class="order-card" [ngClass]="[statusClasses[order.status],order.origin === 'Cliente' ? 'origin-cliente' : '']">
    <div class="status-tag" [ngClass]="statusClasses[order.status]">{{order.status}}</div>
    <p><strong>ID: </strong><span>#{{order.idOrder}}</span></p>
    <p><strong>Fecha: </strong><span>{{order.createdAt | date:'dd/MM/yyyy HH:mm'}}</span></p>
    <p><strong>Usuario: </strong><span>{{order.username ?? 'Cliente'}}</span></p>
    <p><strong>Punto de venta: </strong><span>{{order.pos}}</span></p>
    <p><strong>Origen: </strong><span>{{order.origin}}</span></p>
    <p><strong>Comprador: </strong><span [title]="order.nameBuyer + ' ' + order.lastNameBuyer">{{order.nameBuyer}} {{order.lastNameBuyer}}</span></p>
    <p><strong>Dirección: </strong><span [title]="order.address">{{order.address}}</span></p>
    <p><strong>Localidad: </strong><span [title]="order.locality">{{order.locality}}</span></p>
    <p><strong>Forma de Pago: </strong><span>{{order.paymentMethod}}</span></p>
    <p><strong>Monto: </strong><span>{{subtotal | currency:"ARS" }}</span></p>
    <div class="cb-container">
      <input type="checkbox"
            id="entregado-{{ order.idOrder }}"
            [checked]="order.delivered"
            (change)="onDeliveredChange($event)"
            class="card-cb">
      <label for="entregado-{{ order.idOrder }}">Entregado</label>

      <input type="checkbox"
            id="cobrado-{{ order.idOrder }}"
            [checked]="order.charged"
            (change)="onChargedChange($event)"
            class="card-cb">
      <label for="cobrado-{{ order.idOrder }}">Cobrado</label>

      <button class="view-order-btn" (click)="viewOrderDetail(order)">Ver</button>
    </div>
    <div *ngIf="loading" class="loader-overlay">
      <div class="loader-bar">
        <div class="loader-fill"></div>
      </div>
    </div>
</div>
