<div class="order-card">
    <div class="status-tag">Pendiente</div>
    <p><strong>ID: </strong><span>{{order.idOrder}}</span></p>
    <p><strong>Punto de venta: </strong><span>{{order.pos}}</span></p>
    <p><strong>Comprador: </strong><span>{{order.nameBuyer}} {{order.lastNameBuyer}}</span></p>
    <p><strong>Dirección: </strong><span>{{order.address}}</span></p>
    <p><strong>Localidad: </strong><span>{{order.locality}}</span></p>
    <p><strong>Forma de Pago: </strong><span>{{order.paymentMethod}}</span></p>
    <p><strong>Monto: </strong><span>{{subtotal | currency:"ARS" }}</span></p>
    <div class="cb-container">
        <input class="card-cb" type="checkbox" id="entregado-{{order.idOrder}}">
        <label for="entregado-{{order.idOrder}}">Entregado</label>

        <input class="card-cb" type="checkbox" id="cobrado-{{order.idOrder}}">
        <label for="cobrado-{{order.idOrder}}">Cobrado</label>

        <button class="view-order-btn" >Ver</button>
  </div>
</div>
