
.dropdown-icon {
    transition: transform 0.3s ease;
    transform: rotate(0deg);
    margin-left: 8px;
}

.dropdown-icon.rotated {
    transform: rotate(180deg);
}

.category-node{
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.category-node:hover{
    font-weight: 600;
    transition: font-weight 400ms;
}