<ng-container>
    <app-breadcrumb [breadcrumbRoutes]="breadcrumbRoutes" class="breadcrumb"></app-breadcrumb>
    <section class="orders-wrapper">
        <div class="title-container">
            <h2 class="orders-title">Pedidos</h2>
            <button class="new-order" (click)="openNewOrderDialog()" title="Nuevo pedido">
                <i class="fa-solid fa-file-circle-plus"></i>
            </button>
        </div>
        <div class="filter-panel">
            <ng-container *ngIf="filter$ | async as filter">
                <div class="filter-tag" [ngClass]="{'active': filter === 'Pendiente'}" (click)="setFilter('Pendiente')">Pendientes</div>
                <div class="filter-tag" [ngClass]="{'active': filter === 'Entregado'}" (click)="setFilter('Entregado')">Entregados</div>
                <div class="filter-tag" [ngClass]="{'active': filter === 'Anulado'}" (click)="setFilter('Anulado')">Anulados</div>
            </ng-container>
        </div>
    <div class="container">
        <ng-container *ngIf="orders$ | async as orders">
            @for(order of orders ; track order.idOrder){
                <app-order-card [order]="order"></app-order-card>
            }
        </ng-container>
    </div>
    </section>

</ng-container>

<app-order-form></app-order-form>
