@import '../node_modules/ngx-toastr/toastr.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Montserrat:wght@300;400;600&display=swap');

/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --c_primary: #11B4D9; /* Color Primario */
    --c_secondary: #11C5D9; /* Color Secundario */
    --c_tertiary: #0D0D0D; /* Color Terciario */
    --c_background_light: #F5F5F5; /* Fondo Claro */
    --c_primary_transparent: rgb(17, 180, 217,0.1); /* Color Primario */
  }

body, html{
    width: 100%;
    min-height: 100vh;
}

.app-root{
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-height: 100vh;
}

.h-stack{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px;
}

.h-stack>*{
    margin-right: 5px;
}

li{
    list-style-type: none;
}

.section-title{
  margin-top: 20px;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
}

a{
    text-decoration: none;
}

.original-price {
  text-decoration: line-through;
  color: #888;
  margin-right: 0.5rem;
}

.discounted-price {
  color: #006400;
  font-weight: bold;
}

.card-cb {
  appearance: none;
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border: 1px solid lightgray;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  background-color: white; /* fondo inicial */
  transition: background-color 0.2s, border-color 0.2s;
}

/* Hover sutil */
.card-cb:hover {
  background-color: #f0f0f0; /* solo un gris claro */
}

/* Checked: fondo y tilde blanca clásica */
.card-cb:checked {
  background-color: var(--c_primary);
  border-color: var(--c_primary);
}

/* Tilde blanca clásica */
.card-cb:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;   /* clásico tamaño de tilde */
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
  box-sizing: border-box;
}

/* TOSTADAS */

/* Cambiar tamaño y estilo del texto en los toasts */
.toast-container .ngx-toastr {
  font-size: 0.7rem;         /* tamaño de letra */
  font-weight: 500;        /* grosor */
}

/* Si querés ajustar también los títulos */
.toast-title {
  font-size: 0.7rem;
  font-weight: 600;
}

/* Y el mensaje */
.toast-message {
  font-size: 0.7rem;
}