<div class="hero-wrapper"
     (touchstart)="onTouchStart($event)"
     (touchmove)="onTouchMove($event)"
     (touchend)="onTouchEnd()"
     (mousedown)="onMouseDown($event)"
     (mousemove)="onMouseMove($event)"
     (mouseup)="onMouseUp()"
     (mouseleave)="onMouseLeave()"
     >

  <div class="hero-carousel" #carousel>
    @for (item of items; track $index) {
      <img [src]="item.image"
           [alt]="item.caption"
           (click)="onImageClick($event, item.path)"
           draggable="false" />
    }
  </div>

  <div class="dots-container">
    <span *ngFor="let item of items; let i = index"
          class="dot"
          [class.active]="currentIndex === i"
          (click)="animateToIndex(i)">
    </span>
  </div>

  <ng-container *ngIf="pos$ | async as pos">
    <div *ngIf="pos.imgLogoUrl" class="customer-gym-logo-container">
      <img class="customer-gym-logo" [src]="pos.imgLogoUrl" [alt]="pos.puntoDeVenta" />
    </div>
  </ng-container>

  <a class="go-to-products" (click)="navigateToProducts()">Hacenos tu pedido</a>
</div>